# Ignore the logs files from training
/logs
# Ignore the model files from training
/models
*.zip
# Ignore pychache files
*.cache
# Ignore old training data
/Removed
# Ignore vs code files
.vscode
# Ignore the pychache files
/__pycache__
*.pyc